*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%; // 10px/16px as 16px is mostly the default font size of a browser.
}

.container {
  max-height: 100vh;
  display: grid;
  grid-template-rows: 10rem 10rem min-content;
  grid-template-columns: [sidebar-start] 10rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

  & > * {
    font-size: 3rem;
    padding: 30px;
  }
}